
@font-face {
  font-family: 'DINNextW1G-Bold';
  src: url('DINNextW1G-Bold.eot?#iefix') format('embedded-opentype'),  url('DINNextW1G-Bold.otf')  format('opentype'),
	     url('DINNextW1G-Bold.woff') format('woff'), url('DINNextW1G-Bold.ttf')  format('truetype'), url('DINNextW1G-Bold.svg#DINNextW1G-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
