
@font-face {
  font-family: 'DINNextW1G';
  src: url('DINNextW1G.eot?#iefix') format('embedded-opentype'),  url('DINNextW1G.otf')  format('opentype'),
	     url('DINNextW1G.woff') format('woff'), url('DINNextW1G.ttf')  format('truetype'), url('DINNextW1G.svg#DINNextW1G') format('svg');
  font-weight: normal;
  font-style: normal;
}
