*,*:before,*:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html,body,h1,h2,h3,h4,h5,h6,ul,li{margin: 0; padding: 0;}
ul,li {list-style:none;}
a{background-color:transparent;text-decoration: none;transition: $transition}
a:active,a:hover{outline:0;text-decoration: none}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display: block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
abbr[title]{border-bottom:1px dotted}
[hidden],template{display:none}
b, strong {font-weight: bold;}
img {border: 0;max-width: 100%;display: block;margin: 0}
optgroup{font-weight:700}
mark{background:#ff0;color:#000}
dfn{font-style:italic}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
table {border-collapse: collapse;border-spacing: 0;}
td,th {padding: 0;}
hr{box-sizing:content-box;display: block;height: 0;border: 0;border-bottom: 1px solid #b8b8b8;}
audio,canvas,video {display: inline-block;}
audio:not([controls]) {display: none;height: 0;}
[hidden] {display: none;}
svg:not(:root) {overflow: hidden;}
figure{margin:1em 40px}
fieldset {margin: 0 2px;padding: 0.35em 0.625em 0.75em;border: 1px solid #c0c0c0;}
legend {padding: 0;border: 0;}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button{transition: $transition;cursor: pointer}